.container{
    max-width: 400px;
}


#messages {
	background: #eeeeee;
	padding: .1em;
	max-height:500px;
	overflow-y: scroll;
}

.message {
	padding: .2em;
}

.me {
	background: #fff268;
	text-align: right;
}

.author {
	color: #707070;
	font-size: .8em;
}

.them {
	background: #d6f8ff;
}